.dropdown-content li>a, .dropdown-content li>span { font-size:1rem; }

.collection-item .row, .card-panel .row { margin-bottom:0px; }

.card { overflow: visible !important; }
.card-header { padding:10px 20px; }
.card-content .collection { margin:0rem; }
.card-content.no-margin { padding:0; }